@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #4a4f61;
    line-height: 26px;

}
@tailwind components;

.btn-primary {
    @apply text-white shadow-indigo-500/50 shadow-md hover:shadow-secondary hover:border-transparent hover:bg-secondary hover:text-neutral px-6 py-4 h-14;
} 

.btn-light-primary {
    @apply bg-light-primary text-primary border-light-primary hover:shadow-primary hover:border-transparent hover:bg-primary hover:text-white ;
}

.navbar {
    @apply py-5;
}

.menu a {
    @apply text-secondary font-medium hover:text-accent hover:font-semibold;
}

.blog-item:hover {
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgba(89, 86, 233, .1);
    border-color: transparent;
    @apply transition duration-150 ease-out;
}

.product-item:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0 !important;
}

@tailwind utilities;
